<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCServletWebApp:war">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVCServletWebApp_war</output-path>
    <root id="archive" name="SpringMVCServletWebApp_war.war">
      <element id="artifact" artifact-name="SpringMVCServletWebApp:war exploded" />
    </root>
  </artifact>
</component>